h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: azure;
}
h3 {
  color: cadetblue;
  font-family: cursive;
}

body {
  background-color: cornsilk;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

img {
  border-radius: 5%;
}
.mypic {
  width: 500px;
}
.Bearslogo {
  position: absolute;
  top: 0;
  right: 0;
  height: 4px;
  width: 4px;
}
