body{
    font-family: Montserrat;
}



#title{
    background-color:#595260;
    font-family: 'Montserrat', sans-serif;
    
}

h1{
    font-weight: bold;
    font-family: 'Montserrat-Black';
    font-size: 3rem;
    color: #fff;
    line-height: 1.5;
}
.container-fluid{
    padding: 3% 15%;
}

/* navigation bar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-family: "Montserrat-light";
    font-size: 1.2rem ;
}

/* Download buttons */
.download-button{
    margin: 5% 3% 5% 0;
}

/* Tittle image */

.title-image{
    width: 100%;
    transform: rotate(5deg);
}

