*{
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
   
}


/* navigation bar */

.navbar {
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 4.5rem;
    background-color: #C85C5C;
  
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link a {
    font-family: 'Ubuntu-Bold', sans-serif;
    text-transform: italic;
    font-weight: bold;
}
/* Front page  */
.title{
   background-color: #C85C5C;
   position: relative;
   
}
h4{
   padding: 40px;
    text-shadow: 2px 2px #ff0000;
    text-transform: uppercase;
    color: bisque;
}


/*Carousal*/

.image {
    width: 100%;
    height: 50rem;
}

.carousel-caption{
    background-color: #3F3351;
    border-radius: 20px 40px;
}
/* Main body  */
.icon{
    color: #C85C5C;
    padding: 1% 7%;
}

.bottom-icon{
    margin: 1%;
    color: #C85C5C;
}